.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px;
    grid-gap: 30px;
  }
  
  .one {
    font-family: monospace;
    border: 1px;
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    font-size: 30px;
    justify-self: center;
}

.sensor-text {
    width: 75vw;
    background-color: #E64A19;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 3px #8f8f8f;
    -moz-box-shadow: 4px 4px 3px #8f8f8f;
    box-shadow: 4px 4px 3px #BDBDBD;
    font-family: Courier New;
    color: #ffffff;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.two {
    grid-column: 1;
    grid-row: 8;
    justify-self: center;
}

.btn {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 3px #8f8f8f;
    -moz-box-shadow: 4px 4px 3px #8f8f8f;
    box-shadow: 4px 4px 3px #BDBDBD;
    font-family: Courier New;
    color: #ffffff;
    font-size: 30px;
    background: #7C4DFF;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
}

.btn:active {
    box-shadow: 3px 3px 2px #757575;
    transform: translateY(3px);
  }

  body{
      background-color: #FFFFFF;
  }